form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form button {
    border-radius: 8px;
    padding: 8px;
    background-color: #4040d1;
    color: white;
    font-weight: bold;
}

.error-msg {
    color: red;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    margin-top: 10px;
}
