form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form button {
    border-radius: 8px;
    padding: 8px;
    background-color: #6767d8;
    color: white;
    font-weight: bold;
}

.error-msg {
    color: red;
}